<!DOCTYPE html>
<html>
    <head>
        <title>STF</title>
    </head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <body>
        <div id="app-4">
            <input type="text" v-model="username" v-bind:placeholder="placeholder">
            <input type="password" v-model="password"><br>
            <div v-for="msg in messages">
                <p1>{{ msg.text }}</p1>
            </div>
            <button onclick="app.messages[2].text=app.username; console.log(app.username)">Test</button>
            <button onclick="app.messages.push({text: 'UwU' });">Test2</button>
            <button onclick="app.messages = []">Clear list</button>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
        var app = new Vue({
            el: "#app-4",
            //vuetify: new Vuetify(),
            data: {
                username: "",
                password: "",
                placeholder: "Username or Password",
                uxname: "",
                messages: [
                    { text: "Gaming" },
                    { text: "Gaming part 2" },
                    { text: this.username }
                ]
            },
            methods: {
                updateUsername: function() {
                    this.username = this.uxname;
                    this.uxname = "";
                }
            }
        })
    </script>
</html>